<!DOCTYPE html>
<html>
    <head>
        <title>Web App with Vue</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https:cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="App">
            <header class="navbar">
                <h1>{{sitename}}</h1>
                <div class="btn_checkout">
                    <button v-on:click='showCheckout' class="btn_check">
                        {{cartItemCount}}
                    <span class="fas fa-cart-plus"></span> &nbsp; Cart
                    </button>  
                </div>
            </header>
            <main>
                <div class="product">
                    <div class="col">
                        <figure>
                            <img v-bind:src="product.image">
                        </figure>

                        <h3>Subject: {{product.subject}}</h3>
                       <div><p>Location: {{product.location}}</p></div> 
                        <div><p>Price: {{product.price}}</p></div>
                        <p>Space: 
                            <span v-if="product.spaces - cartItemCount >= 0">
                                 {{product.spaces - cartItemCount}}
                            </span>
                           
                        </p>
                        <button class="btn_add" v-on:click="addToCart" v-if="canAddToCart">Add to Cart</button>
                        <button disabled='disabled' v-else>Add to cart</button>
                        
                    </div>
                </div>
            </main>
            
            
        </div>

        <script type="text/javascript" src="products.js"></script>
        <!-- <script type="text/javascript">
             var webstore = new Vue({
                 el: '#App',  
                 data: {
                     sitename: 'Vue.js Web App',
                     product: {
                         id: 001,
                         subject: "Mahths",
                         location: "London",
                         price: "$100",
                         spaces: 5,
                         image: "https://via.placeholder.com/150"
                     },
                     cart: []
                 },  
                 methods: {
                     addToCart: function() {
                         this.cart.push(this.product.id);
                        }
                    },
                 computed: {
                     cartItemCount: function() {
                         return this.cart.length || '';
                     },

                     canAddToCart: function() {
                         return this.product.spaces > this.cartItemCount;
                     }


                   }
                });
        </script> -->
    </body>
</html>