body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #FAFAFA;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  p{
      line-height: 10px;
  }

  .navbar {
      background-color: bisque;
      align-items: center;
      color: black;
      display: flex;
      justify-content: space-between;
      padding: 2rem;

  }

  .products {
      display: grid;
      grid-template-columns: lfr lfr;
  }

  .btn_check {
    background: blue;
    padding: 10px 30px 10px 30px;
    text-align: center;
    color: white;
    
  }